<html>

    <head>
        <title>Express MVC Application</title>
    </head>
    <body>


    <%-body%>

    <!-- Include Scripts Here -->

    <!-- Render user-side scripts -->
    <%if (scripts){ %>
        <%-scripts%>
    <% } %>

    </body>

</html>